@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
body {
    font-family: 'Abel', sans-serif;
    font-size: 1.2em;
}

.text-title {
    font-family: 'Concert One', cursive;
    font-size: 8rem;
    color: #fff;
}

.text-subtitle {
    font-family: 'Abel', sans-serif;
    font-size: 2rem;
    color: #fff;
}

.text-title-xs {
    font-family: 'Concert One', cursive;
    font-size: 4rem;
    color: #fff;
}

.bg-title {
    background: url('../img/banner5.png') center center no-repeat;
    background-size: cover;
}

.bg-title2 {
    background: url('../img/banner.jpg');
    background-size: cover;
    background-position: center center;
}

.bg-footer {
    background-image: linear-gradient(to bottom right, #2d3436, #0984e3);
}

.bg-nav {
    background-image: linear-gradient(to bottom right, #2d3436, #2d3436);
}

.mt-n6 {
    margin-top: -4rem;
}

.text-span {
    z-index: 99;
    position: absolute;
}


/* Dispositivos small (telefones em modo paisagem, com 576px ou mais) */

@media (max-width: 576px) {
    .text-title {
        font-size: 3rem;
    }
    .text-subtitle {
        font-size: 1rem;
    }
    .bg-title {
        background-image: linear-gradient(to bottom right, #a128b9, #40739e);
    }
    .bg-title2 {
        background-image: linear-gradient(to bottom right, #c02eb4, #c7ecee);
    }
}


/* Dispositivos médios (tablets com 768px ou mais) */

@media (max-width: 768px) {}


/* Dispositivos large (desktops com 992px ou mais) */

@media (max-width: 992px) {}


/* Dispositivos extra large (desktops grandes com 1200px ou mais) */

@media (max-width: 1200px) {}